 <%= form_with model: @note, url: notes_create_path do |form| %>

  <div class="field">
    <%= form.label :note_text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
  <br>
<% end %>
