<div class="h3">Welcome!</div> 
  <div>
    <br>
    <div>In a hurry? Write a <%= link_to 'note', notes_new_path %> and we'll parse for you.</div>
    <br>
    <div>Or <%= link_to 'Fill out our detailed form', plans_new_path %>.</div>
  </div>
</div>